<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/vehicles">about</a>
    <% if(10>5){ %>
        <h1>karibu kwenye tovuti yetu</h1>
    <% }else{ %>
        <h1>welcome to our website</h1>
    <% } %>

    <script>
        // JavaScript code here
        document.querySelector("h1").style.color= "green"
    </script>
    
</body>
</html>